* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: #1e263d transparent;
  scrollbar-width: thin;
}
:root {
  --color: red;
  --bg: green;
  --siteColor: #090f1e;
  --shadow: #1e263d;
  --colorRgb: linear-gradient(
    326deg,
    rgb(40, 54, 184) 0%,
    rgb(136, 57, 255) 100%
  );
}

body {
  font-size: 10px;
  color: #ccc;
  background: var(--siteColor);
}
.site {
  background: var(--siteColor);
}
.main-content {
  min-height: 62vh;
  padding: 10px 0;
}
.bg-shadow {
  background-color: var(--shadow);
}
.df-radius {
  border-radius: 7px;
}
.df-border {
  border: 1px solid #1e263d;
}
.df-bg {
  background: linear-gradient(
    326deg,
    rgb(40, 54, 184) 0%,
    rgb(136, 57, 255) 100%
  );
}
.Toastify__toast-container {
  z-index: 999999999999 !important;
}
.tramcard-toast {
  font-size: 11px;
  text-transform: capitalize;
}
.form-label {
  font-weight: 600;
  font-size: 13px;
  color: #090f1e;
}
.df-btn {
  border: 1px solid var(--shadow);
  outline: none;
  color: #ccc;
  border-radius: 5px;
  font-weight: 600;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
.loading-page-start {
  width: 100%;
  height: 100vh;
  background: #090f1e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-page-start img {
  width: 60px;
  height: auto;
  animation: scaleAnimation 1s infinite alternate;
  transition: all 0.3s ease-in-out;
}
@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
img.logo {
  width: 111px;
  object-fit: contain;
  height: auto;
}
img.logo {
  width: 57%;
  object-fit: contain;
  height: auto;
}
.promotion {
  background: var(--shadow);
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 11px;
  color: #fff;
  display: inline-flex;
  padding: 0 15px 0 0;
}
.promotion div {
  background-image: linear-gradient(86.37deg, #d062ff 2.96%, #7bb0ff 99.68%),
    linear-gradient(90deg, #ed6ea0 0%, #ec8c69 100%);
  color: #fff;
  font-size: 12px;
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.bettor-id-look {
  background: var(--shadow);
  border-radius: 15px;
  color: #ccc;
  font-size: 10px;
  padding-left: 12px;
  font-weight: 600;
}
.profile-look {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  background: linear-gradient(
    326deg,
    rgb(40, 54, 184) 0%,
    rgb(136, 57, 255) 100%
  );
  font-size: 12px;
  color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
ul.droplist li {
  position: relative;
  list-style: none;
  color: #495e91;
  z-index: 1;
}

ul.dropdown-menus {
  position: absolute;
  right: 0;
  min-width: auto;
  background: #fff;
  z-index: 1;
  top: 28px;
  visibility: hidden;
  opacity: 0;
  width: 170px;
  border-radius: 5px;
}
ul.droplist li:hover ul.dropdown-menus {
  visibility: visible;
  opacity: 1;
}
ul.dropdown-menus:after {
  position: absolute;
  right: 10px;
  top: -5px;
  content: "";
  background-color: #fff;
  width: 11px;
  height: 11px;
  z-index: -1;
  transform: rotate(45deg);
}

ul.dropdown-menus li {
  font-size: 12px;
  border-bottom: 1px solid #cdd2df;
}

ul.dropdown-menus li:last-child {
  border: 0;
}

ul.dropdown-menus li a {
  text-decoration: none;
  color: #0d172f;
  font-size: 11px;
  font-weight: 300;
  padding: 5px 15px;
  display: block;
  overflow: hidden;
  font-weight: 600;
  text-transform: capitalize;
}
ul.dropdown-menus li:first-child a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
ul.dropdown-menus li:last-child a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
ul.dropdown-menus li a:hover {
  background-color: #ccc;
}
ul.sticky-items {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

li.sticky-link:hover .sticky-items {
  height: auto;
  overflow: auto;
  background-color: #e5e5e5;
  transition: 0.3s ease-in-out;
}
.notify-head {
  background: #ccc;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
.dropdown-menus.notifications-list {
  width: 250px;
}
.profile-look.notify-bell {
  background: transparent;
  width: 25px;
  height: 25px;
}
.profile-look.notify-bell .notify-counter {
  position: absolute;
  top: -2px;
  right: -6px;
  display: inline-flex;
  background: var(--colorRgb);
  height: 15px;
  width: 15px;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 20px;
}
.header {
  position: sticky;
  left: 0;
  top: 0;
  background: #090f1e;
  width: 100%;
  z-index: 999999;
}
.header-timer {
  font-size: 10px;
  color: #ccc;
  background: var(--shadow);
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 80px;
}
.odds-selection {
  background-color: var(--shadow);
  font-size: 10px;
  color: #ccc;
  padding: 4px 3px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.reg-btn {
  background: linear-gradient(70deg, #31bc69 -8%, #089e4e 96%);
  border-color: #31bc69;
}
.reg-btn span {
  width: 15px;
  height: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: linear-gradient(
    210deg,
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 255, 0.06) 48%,
    #fff 133%
  );
}
.login-btn:hover {
  background: #0ba050;
}
.nav-bar-area {
  border-radius: 55px;
  overflow: hidden;
}
.main-menu-bar {
  display: flex;
  align-items: center;
  color: #ccc;
  list-style: none;
}
.main-menu-bar a,
a.more-link {
  text-decoration: none;
  color: #ccc;
  padding: 10px 20px 7px 20px;
  display: inline-block;
  font-size: 12px;
  border-right: 2px solid #2c3b66;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #1e263d;
}
.main-menu-bar li:last-child a {
  border: 0;
}
a.more-link {
  background: #23b260;
  color: #fff;
  border: none;
  gap: 6px;
  border-bottom: 3px solid #23b260;
}
.main-menu-bar a > svg {
  margin-right: 5px;
  margin-top: -2px;
}
.main-menu-bar a.active {
  border-bottom: 3px solid #23b260;
  color: #fff;
}
.main-menu-bar a:hover {
  color: #fff;
  transform: scale(1.01);
}
.not-found-page {
  height: 70vh;
  color: #ccc;
}
.not-found-page svg {
  font-size: 150px;
  color: #ee6720;
}
.not-found-page strong {
  font-size: 60px;
  display: block;
}
.not-found-page h1 {
  font-size: 30px;
}
.not-found-page p {
  font-size: 14px;
  margin-top: 15px;
}
.modal-dialog {
  height: 90vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
.login-page .modal-title {
  font-weight: 600;
  font-size: 18px;
}
.footer-area-start {
  background: #000;
  height: 100%;
  padding: 25px 0 0 0;
}
.footer-area-start h4,
.footer-area-start h6 {
  color: #fff;
  font-size: 14px;
  margin-bottom: 15px;
}
.footer-menu {
  list-style-type: disc;
  margin-left: 15px;
}
.footer-menu li a {
  text-decoration: none;
  color: #ccc;
}
.footer-menu li a:hover {
  color: #21b15f;
}
.media-link-area {
  border-top: 1px solid #202122;
  border-bottom: 1px solid #202122;
}
.social-media-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 18px;
  color: #fff;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}
.social-media-link a:hover {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.facebook {
  background: #1877f2;
}
.twitter {
  background: #1da1f2;
}
.linkedin {
  background: #0077b5;
}
.instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.provider-images-list img {
  width: auto;
  height: 16px;
  filter: grayscale(100%) brightness(50%);
  transition: filter 0.3s ease;
}
.provider-images-list img:hover {
  filter: grayscale(0%) brightness(100%);
}
.main-slider-area-start {
  border-radius: 20px;
  overflow: hidden;
}
.single-slide-image {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}
.main-slider-area-start .slick-prev {
  left: auto;
  right: 45px;
  z-index: 99;
  bottom: 20px;
  top: auto;
}
.main-slider-area-start .slick-next {
  right: 10px;
  top: auto;
  bottom: 20px;
  z-index: 99;
}
.main-slider-area-start .slick-dots {
  bottom: 20px;
  z-index: 99;
}
.main-slider-area-start .slick-dots li {
  margin: 0;
}
.main-slider-area-start .slick-dots li.slick-active button:before,
.main-slider-area-start .slick-dots li button:before {
  color: #23b260;
}
.single-goal-section {
  width: 100%;
  border-radius: 20px;
  padding: 35px 27px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}
.single-goal-section h1 {
  font-size: 26px;
  font-weight: 800;
  color: #fff;
}
.single-goal-section a {
  display: block;
  text-align: center;
  text-decoration: none;
  background: #fff;
  border-radius: 20px;
  padding: 7px;
  font-size: 18px;
  font-weight: 600;
  color: #26b462;
  mix-blend-mode: lighten;
}
.single-goal-section a:hover {
  mix-blend-mode: normal;
}
.all-promo-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.single-promo-card {
  background: linear-gradient(110deg, #1e283f, rgba(20, 27, 46, 0.6) 100%);
  border-radius: 7px;
  padding: 12px 15px;
  width: 100%;
}
.single-promo-card:hover {
  background: linear-gradient(-110deg, #1e283f, rgba(20, 27, 46, 0.6) 100%);
}
.single-promo-card a {
  color: #ccc;
  text-decoration: none;
}
.single-promo-card h4 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 2px;
  font-weight: 600;
}
.single-promo-card h6 {
  font-size: 10px;
}
.single-promo-card a > img {
  width: 100px;
}
.user-profile-area {
  padding: 25px;
  border-radius: 7px;
}
.profile-image {
  border: 8px solid #2e3a56;
  object-fit: cover;
  object-position: center center;
}
.user-profile-area h5 {
  font-size: 18px;
  margin: 10px 5px 5px 5px;
  font-weight: 600;
}
.user-profile-area h6 {
  font-size: 13px;
  margin-bottom: 3px;
}
.profile-username {
  color: #23b260;
}
.is_login_sign {
  position: relative;
  width: 10px;
  height: 10px;
  background: #23b260;
  border-radius: 50%;
  display: inline-block;
  bottom: -52px;
  right: 33px;
}
.kyc-verified {
  color: #23b260;
}
.balance-text {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.balance-enquary li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.logout-btn {
  padding: 7px 15px;
  border: 1px solid #23b260;
  border-radius: 5px;
  outline: none;
  background: #23b260;
  margin-top: 40px;
  color: #fff;
}
.logout-btn:hover {
  background: transparent;
}
.profile-warning-message {
  border-radius: 5px;
  font-size: 13px;
}
.warning-icon {
  color: #090f1e;
  font-size: 35px;
}
.card {
  background: var(--shadow);
  color: #ccc;
}
.card-header {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}
.form-control,
.form-control:focus {
  border: 1px solid #4e5462;
  background: transparent;
  color: #ccc;
  font-size: 12px;
  border-radius: 3px;
}
.form-label {
  color: #fff;
  font-size: 12px;
  margin-bottom: 3px;
}
input.form-control:-internal-autofill-previewed,
input.form-control:-internal-autofill-selected {
  background-color: transparent;
}
.form-control:disabled {
  background-color: #3e4c76;
  opacity: 1;
}
input.form-control::placeholder {
  color: #888;
}
.modal-content {
  background: #282f42;
  color: #ccc;
}

.modal-header {
  border-color: #313b57;
}
.register-area a,
.register-area button {
  font-size: 15px;
  padding: 8px 20px;
  text-decoration: none;
}
.reg-btn:hover {
  background: linear-gradient(-70deg, #31bc69 -8%, #089e4e 96%);
}
.register-area .one-click {
  background: linear-gradient(
    326deg,
    rgb(40, 54, 184) 0%,
    rgb(136, 57, 255) 100%
  );
  border-color: #2a36ba;
}
.register-area .one-click:hover {
  background: linear-gradient(
    -326deg,
    rgb(40, 54, 184) 0%,
    rgb(136, 57, 255) 100%
  );
}
.register-area a:hover {
  background: linear-gradient(-70deg, #31bc69 -8%, #089e4e 96%);
}
.breadcrumb-area h5 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #ffffff;
}

.breadcrumb-area h6 {
  font-size: 12px;
  color: #6d728f;
}
.breadcrumb-area svg {
  font-size: 12px;
}
select.form-control option {
  color: #090f1e;
}
.bottom-register h6 {
  font-weight: 400;
  font-size: 12px;
}
.bottom-register a {
  text-decoration: none;
  color: #23b260;
  font-weight: bold;
}
.bottom-register a:hover {
  color: #8c9fff;
}
.login-page .modal-dialog {
  max-width: 400px;
}
.rdt_TableBody {
  background: #262f48;
  border: 1px solid #262f48;
}
.all-providers-card {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.all-providers-card a {
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
}
.single-providers-card {
  border: 1px solid #000000;
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(
    326deg,
    rgb(40, 54, 184) 0%,
    rgb(136, 57, 255) 100%
  );
  text-align: center;
}
.single-providers-card:hover {
  background: linear-gradient(
    -326deg,
    rgb(40, 54, 184) 0%,
    rgb(136, 57, 255) 100%
  );
}
.single-providers-card h6 {
  padding: 7px 10px;
  text-transform: uppercase;
}

/* Otp area start */
.digitGroup {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.digitGroup input {
  outline: 0 !important;
  user-select: none !important;
  width: 50px;
  height: 50px;
  background-color: #090f1e;
  font-weight: bold !important;
  border-radius: 5px;
  border: none;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin: 0;
}

.digitGroup input:focus {
  border: 2px solid #23b260 !important;
}

.digitGroup input:active {
  border: 2px solid #23b260 !important;
}

.digitGroup .splitter {
  padding: 5px 0;
  color: #23b260;
  font-size: 25px;
  margin: 0;
}

.prompt {
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}

.formSection {
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #ddd;
  padding: 20px;
}

.w-100 {
  width: 100%;
}
.resend-otp {
  background: transparent;
  border: 0;
  outline: 0;
  font-weight: 800;
  color: #23b260;
}
.spin-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spin-loader:after {
  content: "";
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}
/* Media query for mobile devices */
@media (max-width: 480px) {
  .digitGroup {
    gap: 5px !important;
  }
  .digitGroup input {
    width: 40px !important;
  }
  .digitGroup .splitter {
    font-size: 25px !important;
  }
}
/* Otp area end */

.list-group .list-group-item {
  background: #090f1e;
  color: #ccc;
  border-color: #1e263d;
}

.image-with-title {
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 35px;
  color: #fff;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-with-title:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  right: 0;
  bottom: 0;
  background: #000;
  z-index: -1;
  opacity: 0.1;
}

.policy-page-content h1,
.policy-page-content h2,
.policy-page-content h5,
.policy-page-content h6 {
  font-size: 22px;
  margin-bottom: 10px;
}
.policy-page-content h4,
.policy-page-content h3 {
  font-size: 14px;
  margin-bottom: 10px;
}
.policy-page-content ul {
  margin-left: 15px;
}
.policy-page-content p,
.policy-page-content li {
  font-size: 12px;
}
.policy-page-content li {
  margin-bottom: 10px;
}

/* News area */
.news-card-area {
  background: #282f42;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 25px;
}
.news-time {
  color: #7a8cb7;
}
.news-time svg {
  color: #7a8cb7;
}
.news-content a {
  text-decoration: none;
}
a.news-title {
  display: inline-block;
  font-size: 16px;
  margin: 8px 0;
  color: #8039f9;
  font-weight: 600;
}
a.news-title:hover {
  color: #23b260;
}
.news-just-content {
  font-size: 16px;
}
.news-read-more {
  margin-top: 15px;
  display: inline-block;
  padding: 9px 25px;
  color: #fff;
  background: linear-gradient(
    326deg,
    rgb(40, 54, 184) 0%,
    rgb(136, 57, 255) 100%
  );
  border-radius: 4px;
}
.news-read-more:hover {
  background: linear-gradient(
    -326deg,
    rgb(40, 54, 184) 0%,
    rgb(136, 57, 255) 100%
  );
}
.news-left-side h2 {
  font-size: 22px;
  margin: 15px 0;
  color: #fff;
  font-weight: 600;
}
.news-left-side p {
  font-size: 14px;
  margin-bottom: 25px;
  color: #888;
}
.news-social-share {
  margin-top: 55px;
  text-align: center;
}

.share-like a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #1e263d;
  font-size: 20px;
  color: #fff;
  margin-right: 5px;
  border-radius: 4px;
  background: linear-gradient(86.37deg, #d062ff 2.96%, #7bb0ff 99.68%),
    linear-gradient(90deg, #ed6ea0 0%, #ec8c69 100%);
  transition: all 0.3s ease-in-out;
}

.share-like a:hover {
  background: linear-gradient(-86.37deg, #d062ff 2.96%, #7bb0ff 99.68%),
    linear-gradient(90deg, #ed6ea0 0%, #ec8c69 100%);
}
.recent-news-right-content a {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  color: #8039f9;
}
.recent-news-right-content a:hover {
  color: #23b260;
}
.recent-news-right-content span {
  display: block;
  font-size: 14px;
}
.recent-news-content-area {
  border: 1px solid #1e263d;
  border-radius: 7px;
}
.recent-news-area img {
  border-radius: 4px;
}
.recent-news-content-area .recent-news-area {
  padding: 20px 10px;
  border-bottom: 1px solid #1e263d;
}
.recent-news-content-area .recent-news-area:last-child {
  border: none;
}
.recent-news-heading {
  font-size: 18px;
  border-bottom: 1px solid #1e263d;
  padding: 10px;
}

/* Tramcard area css */
.tramcard-rules-area {
  background: #1e263d;
  min-height: 230px;
  font-size: 14px;
}
.tramcard-rules-area h5 {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.tramcard-balance {
  font-size: 18px;
  font-weight: 600;
}
.tramcard-valid-time {
  font-size: 14px;
  margin-bottom: 25px;
}
.tramcard-claim-btn {
  padding: 15px 25px;
  color: #fff;
  font-size: 16px;
  background: linear-gradient(86.37deg, #d062ff 2.96%, #7bb0ff 99.68%),
    linear-gradient(90deg, #ed6ea0 0%, #ec8c69 100%);
  transition: all 0.3s ease-in-out;
}
.tramcard-claim-btn:hover {
  background: linear-gradient(-86.37deg, #d062ff 2.96%, #7bb0ff 99.68%),
    linear-gradient(90deg, #ed6ea0 0%, #ec8c69 100%);
}
.tramcard-follow-rules {
  color: #ff6293;
  font-size: 14px;
}
.tramcard-follow-rules ul li {
  margin-bottom: 7px;
}
.tramcard-follow-rules .tramcard-follow-rule-completed {
  color: #7facff;
  list-style: square;
}
.progress {
  background: #090f1e;
}
.progress .bg-primary {
  background-image: linear-gradient(-86.37deg, #d062ff 2.96%, #7bb0ff 99.68%),
    linear-gradient(90deg, #ed6ea0 0%, #ec8c69 100%);
}

/* Live support css */
.live-chat-area-start {
  position: fixed;
  left: 0px;
  bottom: 5px;
  z-index: 99999999;
  background: #23b260;
  border-radius: 3px;
  padding: 0px 0px;
}

.live-chat-area-start span {
  border-right: 1px solid #126e39;
  display: inline-block;
  padding: 6px 12px;
  color: #fff;
  font-weight: 600;
}

.live-chat-area-start button {
  border: 0;
  outline: none;
  padding: 6px 16px;
  color: #fff;
  background: transparent;
  border-radius: 0 4px 4px 0;
}

.live-chat-area-start button:hover {
  background: #0e8b43;
}

/* Agents list in deposit area */
.show-agents-list {
  height: 350px;
  overflow: hidden;
  overflow-y: auto;
}
.show-agents-list a.single-agent-for-deposit {
  display: block;
  margin-top: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #090f1e;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #6938e8;
}
.show-agents-list a.single-agent-for-deposit:hover {
  background: #6938e8;
}
a.single-agent-for-deposit span {
  display: block;
}

/* Casino area start */
.casino-area {
  background: #090f1e;
  width: 100%;
  height: auto;
}

.casino-menu {
  width: 100%;
  display: flex;
  list-style: none;
  align-content: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  background: #2d3859;
  color: #a3a3aa;
  font-size: 11px;
  overflow: hidden;
  overflow-x: auto;
  text-transform: capitalize;
  font-weight: 700;
}

.casino-menu li {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  min-width: 108px;
  text-align: center;
  padding: 7px 0;
}

.casino-menu li span {
  display: block;
  font-size: 10px;
}

.casino-menu li img {
  width: 24px;
  margin-bottom: 5px;
}

.casino-menu li:hover,
.casino-menu li.active {
  background: linear-gradient(
    326deg,
    rgb(40, 54, 184) 0%,
    rgb(136, 57, 255) 100%
  );
}

.casino-all-data {
  display: flex;
  flex-flow: row wrap;
}

.casino-item-data {
  border-radius: 10px;
  overflow: hidden;
  flex: 0 1 calc(25% - 12px);
  margin: 6px;
  height: 236px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  z-index: 1;
  text-align: center;
  line-height: 1.3;
  color: #fff;
  font-size: 11px;
  padding: 5px;
}

.casino-item-data:hover:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: black;
  opacity: 0.7;
  z-index: -1;
}

.casino-item-data span {
  display: block;
  width: 100%;
  visibility: hidden;
}

.casino-item-data button {
  background: transparent;
  border: 1px solid #ddd;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px 3px;
  border-radius: 4px;
  visibility: hidden;
}

.casino-item-data button:first-child {
  background: #8325ee;
  border-color: #8325ee;
}

.casino-item-data:hover button,
.casino-item-data:hover span {
  visibility: visible;
}

.casino-item-data div {
  display: flex;
  gap: 5px;
}

.casino-item-data img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .casino-menu-area {
    position: sticky;
    top: 70px;
    z-index: 999999;
  }

  .casino-all-data {
    margin-top: 90px;
  }

  .casino-item-data {
    flex: 0 1 calc(100% - 12px);
  }
}

/* Affiliat sidebar css */
.affiliat-sidebar {
  overflow: hidden;
  border: 2px solid #2c3b66;
  border-bottom: 0;
}
.affiliat-sidebar-menu li {
  border-bottom: 1px solid #2c3b66;
}
.affiliat-sidebar-menu li ul {
  background: #090f1e;
}
.affiliat-sidebar-menu li ul li:first-child a {
  border-top: 1px solid #2c3b66;
}
.affiliat-sidebar-menu li ul li a {
  padding-left: 45px;
}

.affiliat-sidebar-menu .nav-link {
  border-radius: 0 !important;
}
.affiliat-sidebar-menu li a {
  padding: 7px 10px;
  border-radius: 0;
}
.affiliat-sidebar-menu li a:hover {
  background: linear-gradient(70deg, #31bc69 -8%, #089e4e 96%);
}
.affiliat-sidebar-menu li a > svg,
.affiliat-sidebar-menu li svg {
  font-size: 14px;
  margin-right: 13px;
  margin-left: 10px;
}
.affiliat-sidebar-menu ul li:last-child {
  border: 0;
}
.item-card-area {
  border: 2px solid #2c3b66;
}
.item-card-area h4 {
  font-weight: 800;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}
.item-card-area span {
  font-weight: 300;
  color: #aaa;
  font-size: 12px;
}


/* Sport page area css */
ul.sports-categories {
    background: #0f1423;
    overflow: hidden;
    overflow-x: auto;
    border-radius: 45px;
}

ul.sports-categories li {
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    background: linear-gradient(135deg, #090F1E, #1E263D);
    position: relative;
    font-weight: 800;
}
ul.sports-categories li:last-child {
    border: 0
}

ul.sports-categories li svg {
    color: #fff;
    font-size: 14px;
}
ul.sports-categories li:hover,ul.sports-categories li.active {
    background: linear-gradient(326deg, #4a5c8f, #36518f)
}
.games-count{
  position: absolute;
  right: 7px;
  top: 5px;
  display: inline-block;
  width: 18px;
  background: #23B260;
  border-radius: 7px;
  font-size: 8px;
  text-align: center;
}
.sports-sub-category{
  list-style-type: none;
  background-color: #1E263D;
  min-height: 80vh;
  margin-top: 15px;
  border-radius: 14px;
  overflow: hidden;
  overflow-y: auto;
}
.sports-sub-category li{
  position: relative;
  border-bottom: 1px solid #2C3B66;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: 600;
}
.sports-sub-category li:hover, .sports-sub-category li.active{
  background: linear-gradient(326deg, #4a5c8f, #36518f)
}
.sports-sub-category li img{
  border-radius: 50%;
}
.sports-sub-category .games-count{
  position: relative;
  right: auto;
  top: auto;
}
.password-eye{
  background: #1E263D;
  border: 1px solid #4e5462;
  border-left: 0;
  border-radius: 0;
  height: 32px;
}
.text-copy-btn{
  border-radius: 0;
}
.form-label {
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    line-height: 0;
    color: #ccc;
}



/* Betslip area start */
.betslip-area-start {
  position: fixed;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #233358, rgba(20, 27, 46, 0.6));
  /* top: 5px; */
  z-index: 9999999;
  display: none;
}

.betslip-area-start h6 {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  background: linear-gradient(
    326deg,
    rgb(40, 54, 184) 0%,
    rgb(136, 57, 255) 100%
  );
  padding: 7px 15px;
  margin: 0;
}
.bet-button {
  background: #333e5d;
}
.bet-types-button .form-check {
  min-height: auto;
  background: #323e5a;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  border-radius: 4px;
}
.bet-types-button .form-check label {
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.bet-types-button .form-check .form-check-input {
  background: #323e5a;
  border-color: #323e5a;
  display: none;
}
.bet-types-button .form-check .form-check-input:checked {
  background: #323e5a;
  border-color: #323e5a;
}
.bet-types-button .form-check .form-check-input:focus {
  border-color: #323e5a;
  outline: 0;
}
.bet-types-button .form-check .form-check-input:checked + label {
  background: linear-gradient(
    70deg,
    #31bc69 -8%,
    #089e4e 96%
  ); /* Change to your desired background color */
  border-color: linear-gradient(
    70deg,
    #31bc69 -8%,
    #089e4e 96%
  ); /* Change to your desired border color */
}
.bet-types-button label {
  width: 170px;
}
.bet-types-button.bet-balance-buttons label {
  width: auto;
}

/* contact style */
.contact-container{
  background-position: center center;
  min-height: 70vh;
  position: relative;
  z-index: 1;
}
.contact-container:after{
  content: "";
  position: absolute;
  z-index: -1;
  background: hsl(230  89%  65%);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
}
.contact-card{
  background-color: #1E263D;
}
.contact-card-icon{
  border: 1px solid #23B260;
  padding: 5px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #fff;
  background-color: transparent;
  border-radius: 50%;
  position:relative;
  z-index: 1;
  margin-left: -40px;
}
.contact-card-icon::after{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 4px;
  top: 4px;
  content: '';
  background: #23B260;
  z-index: -1;
  border-radius: 50%;
}

.contact-card h6{
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 2px;
}
.contact-card-conent{
  color: #ccc;
  font-size: 12px;
}